**/static/js/*.sass
**/static/js/*.txt
**/static/js/*.map
**/static/js/*.png
**/static/js/*.css
**/static/js/*.js
package-lock.json
postgres_data
node_modules
__pycache__
*.sqlite
.vscode
*.pyc
venv*
dist
.env