**/static/js/*.sass
**/static/js/*.txt
**/static/js/*.map
**/static/js/*.png
**/static/js/*.svg
**/static/js/*.css
**/static/js/*.js
package-lock.json
keychain.egg-info
postgres_data
node_modules
__pycache__
*.sqlite
**/icon
.vscode
*.pyc
venv*
dist
.env
