.passwords-list-container {
  width: 100%;
  display: flex;
  justify-content: center;

  .passwords-list-autocomplete-container {
    width: 100%;
    padding: 1rem;

    .passwords-list-autocomplete-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    .passwords-list-fab-container {
      margin-left: 0.5rem;
      width: 40px;
      height: 40px;
    }
  }
}

.password-card-header {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    margin-right: 0.5rem;
    width: 32px;
    height: 32px;
  }
}

.passwords-list-autocomplete-option {
  display: flex;
  align-items: center;
  transition: all 0.3s ease;

  &:hover {
    color: #000;
    background-color: #ccc;
    padding-left: 5px;
    cursor: pointer;
  }

  .passwords-list-autocomplete-option-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;

    img {
      margin-right: 10px;
      width: 20px;
      height: 20px;
    }
  }
}

@keyframes clickPop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}

.copy-icon {
  cursor: pointer;
  color: #000;
  transition: all 0.3s ease;

  &:hover {
    color: #666;
    transform: scale(1.1);
  }

  &:active {
    animation: clickPop 0.3s ease;
    color: #4caf50;
  }
}
