.passwords-list-container {
  width: 100%;
  display: flex;
  justify-content: center;

  .passwords-list-autocomplete {
    margin-top: 1rem;
    width: 90%;
  }
}

.passwords-list-autocomplete-option {
  display: flex;
  align-items: center;
  transition: all 0.3s ease;

  &:hover {
    color: #000;
    background-color: #ccc;
    padding-left: 5px;
    cursor: pointer;
  }

  .passwords-list-autocomplete-option-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;

    img {
      margin-right: 10px;
      width: 20px;
      height: 20px;
    }
  }
}

@keyframes clickPop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}

.copy-icon {
  cursor: pointer;
  color: #000;
  transition: all 0.3s ease;

  &:hover {
    color: #666;
    transform: scale(1.1);
  }

  &:active {
    animation: clickPop 0.3s ease;
    color: #4caf50;
  }
}
